#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

#new_um{
    height: 100px;
    width: 80%;
    font-size: 50px;
}

#reset_btn{
    height: 40px;
    width: 400px;
    font-size: 20px;
}

.button{
    background-color: white;
    border-radius: 30px;
}

.button:hover{
    background-color: rgb(100, 95, 105);
}

.button:active{
    background-color: white;
}

#num_ums{
    font-size: 90px;
}

.normal {
    background-color: white;
}

.um_detected{
    background-color: rgb(224, 92, 92);
}